<%-include("./partials/header.ejs")-%>
<div class="image accessDetain"></div>
<div class="outerContainererror">
  <div class="Containererror">
    <a href="/enter">life</a>
    <a href="/">go back</a>
  </div>
</div>
