<%-include("./partials/header.ejs")-%> <%-include("homeNavbar.ejs")-%>

<div class="image gunimage"></div>
<div class="mainContainer">
  <div id="enter">
    <h1>POLICE</h1>
    <p><a href="/DatabaseForm">Enter Database</a></p>
  </div>
</div>
